@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px;
    --color-primary: #875cf5;
}

@layer base {
    html {
        font-family: var(--font-display), serif;
    }

    body {
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600 cursor-pointer
}

.card {
    @apply bg-white shadow-lg shadow-gray-100 rounded-2xl p-6 border border-gray-200/50
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-purple-500 bg-gray-50 hover:bg-purple-50 rounded-lg px-4 py-1.5 mb-4 mt-3 border border-gray-200/50 cursor-pointer
}

.form-btn {
    @apply md:w-1/5 w-1/2 text-sm font-medium text-white bg-violet-500 shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 cursor-pointer hover:text-purple-600;
    @apply hover:bg-[rgba(139,92,246,0.15)];
    @apply disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed disabled:shadow-none;
}